PORT=8002
DATABASE_URL=postgresql://talentbridge_user:talentbridge_password@postgres:5432/job_db
JWT_SECRET=change_me_same_as_auth_service
JWT_ALGORITHM=HS256
SERVICE_INTERNAL_TOKEN=change_me_shared_with_candidature_service
NOTIFICATION_SERVICE_URL=http://notification-service:8005
NOTIFICATION_INTERNAL_TOKEN=change_me_same_as_notification_service
