PORT=8003
DATABASE_URL=postgresql://talentbridge_user:talentbridge_password@postgres:5432/application_db
JWT_SECRET=LA_MEME_CLE_QUE_AUTH_SERVICE
JWT_ALGORITHM=HS256
OFFRES_SERVICE_URL=http://offres-service:8002
SERVICE_INTERNAL_TOKEN=change_me_shared_with_offres_service
NOTIFICATION_SERVICE_URL=http://notification-service:8005
NOTIFICATION_INTERNAL_TOKEN=change_me_same_as_notification_service
